# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.4ManPong.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Robin\Desktop\4ManPong\.idea\.idea.4ManPong\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
